[Unit]
Description=KEOSD GF
[Service]
Type=simple
ExecStart=/mnt/bp/keosd --config-dir /mnt/bp/wallets --wallet-dir /mnt/bp/wallets
TimeoutStopSec=300s
Restart=on-success
RestartSec=10
#User=root
#Group=root
KillMode=control-group
[Install]
WantedBy=multi-user.target
