[Unit]
Description=NODEOS GF
[Service]
Type=simple
ExecStart=/mnt/bp/nodeos --config /mnt/bp/config.ini --data-dir /mnt/bp/datadir --genesis-json /mnt/bp/genesis.json --verbose-http-errors --disable-replay-opts
TimeoutStopSec=300s
Restart=on-success
RestartSec=10
#IF NEED RESTART EACH HOUR
#Restart=always
#RuntimeMaxSec=3600
#User=root
#Group=root
KillMode=control-group
[Install]
WantedBy=multi-user.target
