[Unit]
Description=NODEOS GF
[Service]
Type=simple
ExecStart=/home/root/nodeos/nodeos --config /home/root/nodeos/config.ini --data-dir /home/root/nodeos/datadir --genesis-json /home/root/nodeos/genesis.json --verbose-http-errors --disable-replay-opts
TimeoutStopSec=300s
Restart=on-success
RestartSec=10
#IF NEED RESTART EACH HOUR
#Restart=always
#RuntimeMaxSec=3600
#User=root
#Group=root
KillMode=control-group
[Install]
WantedBy=multi-user.target
